/*This is where all the common css styles will be stored. This file will be linked to all the other html files in the project.*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --gold: #FFC349;
  --indigo: #525EA7;
  --aqua: #5FACD3;
  --light-turquoise: #97DDE9;
  --background-color: #f5f5f5;
  --font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('Images/Background.jpg');
}